body {
  font-family: Kodchasan, Tahoma, Loma;
  font-size: 16px;
  background-color: #f9f9f9;
}
body,
li {
  line-height: 1.6;
}
#content {
  background-color: #fff;
  padding: 10px;
}
#logo {
  padding: 20px 10px;
}
.footer {
  text-align: center;
  padding: 20px 10px;
  color: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 0 #fff;
}
.document-list h6 {
  height: 3.2em;
  overflow: hidden;
  display: block;
  text-align: center;
}
.document-list .price {
  text-align: center;
  font-size: 2em;
  color: #259b24;
}
.document-list .col4 {
  border: none;
}
.topmenu {
  background-color: #2196f3;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.05);
  display: block;
}
.topmenu>ul>li>a {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
}
.topmenu a>span {
  color: inherit;
}
h2 {
  text-align: center;
}
h3 {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 10px;
}
h4 {
  font-size: 1em;
  font-weight: bold;
  color: #2196f3;
}
em {
  font-size: 3em;
}